<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Nel-Sinclair App</title>
        <link rel="stylesheet" type=text/css href="../static/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>

    <body>
		<div class=page>
            
            <center>
  			<h1>Let's see how awesome you truly are.</h1>
  			<div class=metanav>

    			<h4>Please enter your body weight in kilos.</h4>

    			<form id='input' method='post' action='index'>	
	  			<p>
					<input type='text' name='userbw' /> kg.
	  			</p>
                <h4>Please enter your total in kilos.</h4>

    			<form id='input' method='post' action='index'>	
	  			<p>
				<input type='text' name='usertotal' />kg.
	  			</p>    
                    
                <h4>Select your category.</h4>    
                    
	  			<p>
					<input type="checkbox" name='features' value='MaleSenior'>Male Senior<br>
					<input type="checkbox" name='features' value='FemaleSenior'>Female Senior<br>
	    			<input type="submit" value="Submit">
	  			</p>
				</form>
                    </center>
  			</div>
		</div>